@import "_mixin";


.nav_f{
    font-size: 1.5rem;
}


.inner{
    width: 85%;
    margin: 0 auto;
}


body{
    &.scrolled{
        #header{
            height: 65px;
            background: rgba(0, 0,0, 0.8);
            .navbar{
                .navbar-toggler {
                    .hamburger-menu {
                        span{
                            &.iconbar{
                                background: #fff;
                                border: 1px solid #fff;
                                &::before{
                                    background: #fff;
                                }
                                &::after{
                                    background: #fff;
                                }
                            }
                        }
                    }
                }
                .container{
                    height: 65px;
                    .logo{
                        max-width: 260px;
                    }
                }
          
                #navbarNav {
                    ul {
                        > li.nav-item {
                            > a{
                                color: #fff;
                                padding: 16px 0;
                                font-weight: 600;
                                &.nav_f{
                                    font-size: 1.375rem;
                                }
                            }
                            .sub_menu{
                                top: 40px;
                                li{
                                    a{
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}
#header{    
    height: 90px;
    position: fixed;
    background: transparent;
    width: 100%;
    z-index: 100;
    transition: background 800ms ease;
    &.on{
        background: rgba(0, 0, 0, 0.8);
    }

    .navbar{
        .container{            
            @include flex_between;
            height: 90px;
            .logo{
   
                transition: all 800ms ease;
                img{
                    display: block;
                }
            }
            #navbarNav{       
                width: 85%;
                display: flex;
                align-items: center;
                justify-content: end;         
                ul{
                    >li.nav-item{
                        float: left;
                        text-align: center;
                        margin: 0px 200px 0 0;
                        width: auto;
                        position: relative;
                        &:last-child{
                            margin: 0;
                        }

                        &:nth-child(2),
                        &:nth-child(4){
                            .sub_menu{
                                width: 250px;
                            }
                        }

                        >a{
                            color: #fff;
                            font-weight: 500;
                            padding:22px 0;
                            border-radius: 30px;
                            position: relative;
                            &:after{
                                content:"";
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0;
                                background: #98C55D;
                                height: 4px;
                                transition: width 500ms ease-in-out;
                            }
                            
                        }

                        &.on{
                            .sub_menu{
                                opacity: 1;
                                transition: opacity .5s;
                                visibility: visible;
                            }
                            a{
                        
                                &:after{
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }


                        .sub_menu{
                            position: absolute;
                            top: 60px;
                            left: 50%;
                            transform: translateX(-50%);
                            padding: 25px 0px 0;
                            width: 250px;
                            height: auto;
                            opacity: 0;
                            transition: opacity .5s;
                            visibility: hidden;                         
                            
                            li{
                                padding: 20px 0px;
                                background: rgba(0,0,0,.5);
                                border-bottom: 1px solid rgba(136, 136, 136, 0.8);
                                &:last-child{
                                    border-bottom: 0;
                                }
                                a{
                                    color: #fff;
                                    font-size: 1.5rem;
                                    i{
                                        display: block;
                                        width: 0%;
                                        height: 2px;
                                        background: #fff;
                                        border-radius: 0;
                                        transition: all 1s;
                                        margin: 8px 0 0;
                                        display: none;
                                    }
                                    &:hover{
                                        font-weight: 600;
                            
                                        
                                        i{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
                .right_box{
                    @include flex_between;
               
                    .select_box{
                        background: #fff;
                        padding: 13px 20px;
                        border-radius: 30px;
                        width:260px;
                        margin: 0 5% 0 0;
                        position: relative;
                        &.on{
                            background: rgba(255, 255, 255, 1);
                        }
                        
                        a{
                            font-size: 1rem;
                            position: relative;
                            font-weight: 500;
                          
                            .arrow{
                                position: absolute;
                                top: 7px;
                                right: 0;
                                &:after{
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    content: "";
                                    width: 5px;
                                    height: 5px;
                                    border-top: 2px solid #232323;
                                    border-right: 2px solid #232323;
                                    transform: rotate(135deg);
                                    transition: transform 0.5s;
                                }
                            }
                        }
                        .sub_box{
                            display: none;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            background: rgba(255,255,255,.9);
                            left: 0;
                            padding: 50px 0px 10px;
                            z-index: -1;
                            border-radius: 30px;
                            opacity: 0;
                            transition: opacity 1s linear;
                            &.on{
                                opacity: 1;
                                display: block;
                              
                            }
                            li{
                                border-bottom: 1px solid #ddd;
                                &:first-child{
                                    border-top: 1px solid #ddd;
                                }
                                &:last-child{
                                    border-bottom: 0;
                                }
                                a{
                                    padding: 10px 20px;
                                }
                            }
                        }
                    }
                    .global{
                        a{
                            font-size: 0.75rem;
                            color: #fff;
                            text-align: center;
                            span{
                                display: flex;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
    


                            
            .navbar-toggler{
                position: relative;
                width: 33px;
                border: 0;
                outline: 0;
                background: transparent;
                padding: 14px 4px 15px;
                
                .btn_line_02{
                    margin: 6px 0; 
                    
                }
                
                &.on{
                  .btn_line_01{       
                   transform:rotateZ(-45deg) translate3d(-3px, 5px, 0);
                    width: 25px;
                    top: 3px;
                  }
                  .btn_line_02{
                    opacity: 0;
                    transform: translateX(0);
                  }
                  .btn_line_03{
                    transform: rotateZ(45deg) translate3d(-6.5px, -8px, 0);
                    width: 25px;
                    top: 3px;
                  }
                  .hamburger-menu{
                    &:hover{
                        span{
                            &.iconbar{
                                &.btn_line_01{
                                    width: 25px;
                                }
                               
                                &.btn_line_03{
                                    width: 25px;
                                }
                            }
                        }
                    }
                  }
                 
                }
                .hamburger-menu{
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    cursor: pointer;

                    &:hover{
                        span{
                            &.iconbar{
                                &.btn_line_01{
                                    width: 17px;
                                }
                                &.btn_line_02{
                                    width: 25px;
                                }
                                &.btn_line_03{
                                    width: 17px;
                                }
                            }
                        }
                    }
                    span{
                        display: block;
                        width: 100%;
                        height: 4px;
                        position: absolute;
                        left: 0;
                        transition: transform 0.3s ease;
                       
                        &.iconbar{
                            position: relative;
                            display: block;
                            width: 25px;
                            height: 1px;
                            border: 1px solid #fff;
                            border-radius: 10px;
                            background: #fff;
                            transition: all .2s ease-in-out;
                            transition: width .13s ease-out,
                            transform .13s ease-out,
                            opacity .13s ease-out;
                           
                        }
                        &::before{
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: #fff;
                        }
                        &::after{
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: #fff;
                        }                      
                        
                    }
                  
                }
            }
        }
    }
    .navbar-toggler{
        display: none;
    }

}

.aside_bg {
    &.on{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: 10;
    }
}
#aside{
    position: fixed;
    right: -70%;
    top: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    width: 70%;
    padding: 100px 0 0;
    background-color: #232323;
    z-index: 99;
    -webkit-transition: right 300ms ease-in-out;
    -moz-transition: right 300ms ease-in-out;
    -o-transition: right 300ms ease-in-out;
    transition: right 300ms ease-in-out;


    &.on{
        right: 0;
    }

    .navbar-nav_m{     
        height: 100%;     
        ul{
            >li{
                border-bottom:1px solid rgba(255,255,255,.5);
                &:last-child{
                    border-bottom: 0;
                }
                a{
                    padding: 20px 30px;
                    position: relative;
                    .arrow{
                        position: absolute;
                        top: 5px;
                        right: 13px;
                        &:after{
                            position: absolute;
                            right: 23px;
                            top: 23px;
                            content: "";
                            width: 7px;
                            height: 7px;
                            border-top: 2px solid #fff;
                            border-right: 2px solid #fff;
                            transform: rotate(135deg);
                            transition: transform 0.5s;
                        }
                    }
                    
                }
                &.on{
                    .arrow{
                        &:after{
                            transform: rotate(-45deg);
                            transition: transform 0.5s;
                        }
                    }
                    .sub{
                        
                        
                    }
                }
                .sub{
                    display: none;
                    border-top:1px solid rgba(255,255,255,.5);
                    background: rgba(136, 136, 136, 0.1);
                    >li{
                        
                         a{
                            font-weight: 400;
                            &::before{
                                display: none;
                            }

                        }
                    }
                
                }
                >a{                
                    font-weight:800;
                    color: #fff;
                    i{
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        background: #345623;
                        border-radius: 50px;
                    }
                }
            }
        }
       
    }
}



#footer{
    position: relative;
    background: #000;
    .fo_menu{
        border-bottom: 1px solid rgba(255, 255, 255, .7);
        h2{
            font-size: 1.25rem;
            display: none;
        }
        ol{
            @include flex_center;
            padding: 15px 0;
  

            li{
                width: 18%;
                position: relative;
                &:last-child{
                    &:after{
                        display: none;
                    }
                }
                &:after{
                    content:"";
                    display: block;
                    width: 2px;
                    height: 15px;
                    background: rgba(255, 255, 255, .7);
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
                a{
                    font-size: 1.25rem;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
    .inner{
        padding: 70px 0;
        .flex{
            @include flex_start;
            margin: 0 0 30px 0;
            #f_logo{
                img{
                    display: block;
                }
            }
            ul{
                @include flex_start;
                margin: 20px 0 0 12%;
              
                li{
                    color: #fff;
                    margin: 0 70px 0 0;
                    &:last-child{
                        margin: 0;
                    }
                    p{
                        color: #9D9D9D;
                        font-size: 0.875rem;
                        margin: 20px 0 0;
                    }
                }
            }
        }
      
    }

    .copyright {
        color: #9D9D9D;
        font-size: 0.875rem;
    }
}

#topBtn{
    border: 2px solid #000;
    background: #000;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    &.go_top{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        top: auto;
        transform: translateY(100px);
        opacity: 0;
        transition: transform 300ms ease;
        &.on{
            transform: translateY(0px);
            opacity: 1;
        }
    }
    i{
        display: block;
        width: 2px;
        height: 15px;
        background: #fff;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: 0%;
            left: -3px;
            width: 8px;
            height: 8px;
            display: block;
            border-top: 2px solid #fff;
            border-left: 2px solid #fff;
            transform: rotate(45deg);
        }
    }

}



@include breakpoint_desktop_1920 {
    .inner{
        width: 80%;
    }
    #header {
        .navbar {
            .container {
                #navbarNav {
                    ul {
                        > li.nav-item{
                            margin: 0 100px 0 0;
                        }
                    }
                    .right_box {
                        .select_box{
                            width: 200px;
                        }
                    }
                }
            }
        }
    }

}



@media (max-width:1800px) {
    #header {
        .navbar {
            .container {
                #navbarNav {
                    ul {
                        > li.nav-item{
                            
                        }
                    }
                }
            }
        }
    }
 
}


@include breakpoint_desktop_1600{
    .nav_f{
        font-size: 1.4rem;
    }
    #header {
        .navbar {
            .container {
                .logo{
               
                }
                #navbarNav {
                    ul {
                        > li.nav-item {
                           > a{
                                padding: 24px 0;
                            }
                            .sub_menu{
                                top: 58px;
                                li{
                                    a{
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                    }
                    .right_box {
                        .select_box{
                            width: 150px;
                            a{
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }
    }
    #footer {
        .fo_menu{
            ol{
                li{
                    width: 20%;
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@include breakpoint_desktop_1440{
    #header {
        .navbar {
            .container {
                #navbarNav {
                    ul {
                        > li.nav-item{
                           > a{
                                padding: 25px 0;
                            }
                        }   
                    }
                }
            }
        }
    }
    #footer {
        .address {
            .left{
                width: 40%;
            }
            .right{
                width: 60%;
            }
        }
    }
}


@include breakpoint_desktop_1280{
    body{
        &.scrolled {
            #header {
                .navbar {
                    #navbarNav {
                        ul {
                            > li.nav-item {
                                > a{
                                    padding: 16px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #header {
        height: 80px;
        .navbar {
            .container {
                height: 80px;
   
        
                #navbarNav {
                    .right_box {
                        .select_box{
                            width: 130px;
                            padding: 8px 15px;
                            .sub_box{
                                padding: 40px 0px 5px;
                                li{
                                    a{
                                        padding: 8px 17px;
                                    }
                                }
                            }
                        }
                    }
                    
                    ul{
                        li{
                            
                            &.nav-item {
                                margin: 0 70px 0 0;
                            
                                >a{
                                    padding: 23px 0;
                                }
                                .sub_menu{
                                    top: 55px;
                                    li{
                                        padding: 20px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    
    #footer {
        .inner {
            padding: 30px 0;
            .flex{
              
                #f_logo{
                    img{
                       
                    }
                }
                ul{
                    margin: 10px 0 0 10%;
             
                    li{
                  
                      
                        a{
                            margin: 0 20px;
                        }
                    }
                }
            }
            .b_box{
                padding: 30px 0px;
                .address{
                   span{
                       br{
                        display: none;
                       }
                   }
                }
            }
        }
    }
}


@media (max-width:1200px) {
    #header {
        
        .navbar{
            .container {
                #navbarNav {
                    ul {
                        li.nav-item{
                          
                        }
                    }
                    .right_box{
                        .select_box{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


@include breakpoint_desktop_1114{
    #header {
        .navbar {
            .container {
                #navbarNav {
                    ul{
                        li.nav-item{
                            margin: 0 40px 0 0;
                        }
                    }
                }
            }
        }
    }
}



@include breakpoint_tablet_1024{
    body{
        &.scrolled{
            #aside{
                padding: 65px 0 0;
            }
        }
    }

    #aside{
        padding: 80px 0 0;
    }
    
    #header {
        .navbar {
            .container {
                .navbar-toggler{
                    display: block;
                }
                #navbarNav {
                    .navbar-nav{
                        display: none;
                    }
                    .right_box {
                        .global{
                            margin: 0 10px 0 0;
                        }
                    }             
                }
            }
        }
    }

    #footer{
        .address {
            .left{
                width: 50%;
            }
            .right {
                width: 50%;
                .nav {
                    flex-wrap: wrap;
                    justify-content: start;
                    margin: 0 0 30px 0;
                    > li {
                        margin: 0 5% 10px 0;
                        .sub{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}



@include breakpoint_tablet_991{
    #footer {
        .fo_menu{
            ol{
                li{
                    width: 25%;
                }
            }
        }
        .inner{
            .flex{
                ul{
                    li{
                        margin: 0 20px 0 0;
                    }
                }
            }
        }
    }
}


@include breakpoint_tablet_768{
    .nav_f{
        font-size: 1rem;
    }
    .inner{
        width: 85%;
    }
    #aside {
        padding: 65px 0 0;
       
    }

  
    #header{
        height: 70px;
       .navbar {
            .container{
                height: 70px;
            }
       }
    }

    #footer {
        .fo_menu{
            h2{
                display: block;
                color: #fff;
                text-align: center;
                padding: 10px 0;
                font-weight: 400!important;
                &.on{
                    i{
                        &:after{
                       
                            transform: rotate(45deg);
                        }
                    }
                }
                i{
                    position: relative;
                    width: 10px;
                    height: 15px;
                    display: inline-block;
                    margin: 0 0 0 5px;
                    &:after{
                        content: "";
                        position: absolute;
                        right: 0;
                        z-index: 11;
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-top: 2px solid #fff;
                        border-left: 2px solid #fff;
                        top: 5px;
                        transform: rotate(225deg);
                        transition: transform 800ms ease-in-out;
                    }
                }
           
            }
            ol{
                flex-direction: column;
                padding: 0;
                border-top: 1px solid rgba(255, 255, 255, 0.7);
                overflow: hidden;
                max-height: 0;
                transition: max-height 900ms ease; 
                li{
                    width: 100%;
                    border-bottom: 1px solid rgba(136, 136, 136, 0.8);
                    padding: 10px 0;
                    &:after{
                        display: none;
                    }
                }
                &.on{
                    display: flex;
                    max-height: 200px;
                }   
            }
        }
        .inner {
            padding: 20px 0;
            .flex{   
                flex-direction: column;
                #f_logo{
                    max-width: 200px;
                }
                ul{
                    margin: 20px 0 0;
                    justify-content: start;
                    li{
                        a{
                            margin: 30px 0 0;
                        }
                    }
                }
  
                .sns_box{
                    ul{
                        li{
                            a{
                                margin: 0 10px 0 0;
                                img{
                                    height: 20px;
                                }
                            }
                            &:last-child{
                                a{
                                    img{
                                        height: 18px;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
            .b_box{
                display: block;
                .sns{
                    position: absolute;
                    top: 60px;
                    right: 20px;
                }
            }
        }
        .copyright{
            padding: 10px 0;
        }
    }
   
}


@include breakpoint_mobile_540{
    #footer{
        .inner {
            .flex{
                margin: 0 0 10px 0;
                ul{
                    flex-wrap: wrap;
                    li{
                        &:last-child{
                            margin:20px 0 0;
                        }
                        p{
                            margin: 10px 0 0;
                        }
                    }
                }
            }
        }
    }
}


@include breakpoint_mobile_480{
    #aside{
        padding: 50px 0 0;
    }

    #header{
        height: 50px;
        .navbar {
            .container{
                height: 50px;
                .navbar-toggler{
                    width: 35px;
                }
            }
       }
    }

    body{
        &.scrolled {
            #header{
                height: 50px;
                .navbar {
                    .container{
                        height: 50px;
                    }
                }
            }
        }
    }
}


@include breakpoint_mobile_414{
    .nav_f{
        font-size: 0.75rem;
    }
    // #aside{
    //     width: 85%;
    //     right: -85%;
    // }
    #footer {
        .inner {
            .flex {
                margin: 0 0 10px 0;
                #f_logo{
                    max-width: 150px;
                }
                ul{
                    flex-direction: column;
                    align-items: start;
                    li{
                        margin: 0 0 10px 0;
                        display: flex;
                        align-items: start;
                        &:last-child{
                            margin: 0;
                        }
                        p{
                            margin: 0 0 0 7px;
                        }
                    }
                }
            }
        }
    }
}



