.nav_f {
  font-size: 1.5rem;
}

.inner {
  width: 85%;
  margin: 0 auto;
}

body.scrolled #header {
  height: 65px;
  background: rgba(0, 0, 0, 0.8);
}
body.scrolled #header .navbar .navbar-toggler .hamburger-menu span.iconbar {
  background: #fff;
  border: 1px solid #fff;
}
body.scrolled #header .navbar .navbar-toggler .hamburger-menu span.iconbar::before {
  background: #fff;
}
body.scrolled #header .navbar .navbar-toggler .hamburger-menu span.iconbar::after {
  background: #fff;
}
body.scrolled #header .navbar .container {
  height: 65px;
}
body.scrolled #header .navbar .container .logo {
  max-width: 260px;
}
body.scrolled #header .navbar #navbarNav ul > li.nav-item > a {
  color: #fff;
  padding: 16px 0;
  font-weight: 600;
}
body.scrolled #header .navbar #navbarNav ul > li.nav-item > a.nav_f {
  font-size: 1.375rem;
}
body.scrolled #header .navbar #navbarNav ul > li.nav-item .sub_menu {
  top: 40px;
}
body.scrolled #header .navbar #navbarNav ul > li.nav-item .sub_menu li a {
  font-size: 1.2rem;
}

#header {
  height: 90px;
  position: fixed;
  background: transparent;
  width: 100%;
  z-index: 100;
  transition: background 800ms ease;
}
#header.on {
  background: rgba(0, 0, 0, 0.8);
}
#header .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
#header .navbar .container .logo {
  transition: all 800ms ease;
}
#header .navbar .container .logo img {
  display: block;
}
#header .navbar .container #navbarNav {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: end;
}
#header .navbar .container #navbarNav ul > li.nav-item {
  float: left;
  text-align: center;
  margin: 0px 200px 0 0;
  width: auto;
  position: relative;
}
#header .navbar .container #navbarNav ul > li.nav-item:last-child {
  margin: 0;
}
#header .navbar .container #navbarNav ul > li.nav-item:nth-child(2) .sub_menu, #header .navbar .container #navbarNav ul > li.nav-item:nth-child(4) .sub_menu {
  width: 250px;
}
#header .navbar .container #navbarNav ul > li.nav-item > a {
  color: #fff;
  font-weight: 500;
  padding: 22px 0;
  border-radius: 30px;
  position: relative;
}
#header .navbar .container #navbarNav ul > li.nav-item > a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background: #98C55D;
  height: 4px;
  transition: width 500ms ease-in-out;
}
#header .navbar .container #navbarNav ul > li.nav-item.on .sub_menu {
  opacity: 1;
  transition: opacity 0.5s;
  visibility: visible;
}
#header .navbar .container #navbarNav ul > li.nav-item.on a:after {
  display: block;
  width: 100%;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 0px 0;
  width: 250px;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s;
  visibility: hidden;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li {
  padding: 20px 0px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(136, 136, 136, 0.8);
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li:last-child {
  border-bottom: 0;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a {
  color: #fff;
  font-size: 1.5rem;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a i {
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  border-radius: 0;
  transition: all 1s;
  margin: 8px 0 0;
  display: none;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a:hover {
  font-weight: 600;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a:hover i {
  width: 100%;
}
#header .navbar .container #navbarNav .right_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .navbar .container #navbarNav .right_box .select_box {
  background: #fff;
  padding: 13px 20px;
  border-radius: 30px;
  width: 260px;
  margin: 0 5% 0 0;
  position: relative;
}
#header .navbar .container #navbarNav .right_box .select_box.on {
  background: rgb(255, 255, 255);
}
#header .navbar .container #navbarNav .right_box .select_box a {
  font-size: 1rem;
  position: relative;
  font-weight: 500;
}
#header .navbar .container #navbarNav .right_box .select_box a .arrow {
  position: absolute;
  top: 7px;
  right: 0;
}
#header .navbar .container #navbarNav .right_box .select_box a .arrow:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #232323;
  border-right: 2px solid #232323;
  transform: rotate(135deg);
  transition: transform 0.5s;
}
#header .navbar .container #navbarNav .right_box .select_box .sub_box {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  left: 0;
  padding: 50px 0px 10px;
  z-index: -1;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 1s linear;
}
#header .navbar .container #navbarNav .right_box .select_box .sub_box.on {
  opacity: 1;
  display: block;
}
#header .navbar .container #navbarNav .right_box .select_box .sub_box li {
  border-bottom: 1px solid #ddd;
}
#header .navbar .container #navbarNav .right_box .select_box .sub_box li:first-child {
  border-top: 1px solid #ddd;
}
#header .navbar .container #navbarNav .right_box .select_box .sub_box li:last-child {
  border-bottom: 0;
}
#header .navbar .container #navbarNav .right_box .select_box .sub_box li a {
  padding: 10px 20px;
}
#header .navbar .container #navbarNav .right_box .global a {
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
}
#header .navbar .container #navbarNav .right_box .global a span {
  display: flex;
  font-weight: 600;
}
#header .navbar .container .navbar-toggler {
  position: relative;
  width: 33px;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 14px 4px 15px;
}
#header .navbar .container .navbar-toggler .btn_line_02 {
  margin: 6px 0;
}
#header .navbar .container .navbar-toggler.on .btn_line_01 {
  transform: rotateZ(-45deg) translate3d(-3px, 5px, 0);
  width: 25px;
  top: 3px;
}
#header .navbar .container .navbar-toggler.on .btn_line_02 {
  opacity: 0;
  transform: translateX(0);
}
#header .navbar .container .navbar-toggler.on .btn_line_03 {
  transform: rotateZ(45deg) translate3d(-6.5px, -8px, 0);
  width: 25px;
  top: 3px;
}
#header .navbar .container .navbar-toggler.on .hamburger-menu:hover span.iconbar.btn_line_01 {
  width: 25px;
}
#header .navbar .container .navbar-toggler.on .hamburger-menu:hover span.iconbar.btn_line_03 {
  width: 25px;
}
#header .navbar .container .navbar-toggler .hamburger-menu {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
#header .navbar .container .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_01 {
  width: 17px;
}
#header .navbar .container .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_02 {
  width: 25px;
}
#header .navbar .container .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_03 {
  width: 17px;
}
#header .navbar .container .navbar-toggler .hamburger-menu span {
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}
#header .navbar .container .navbar-toggler .hamburger-menu span.iconbar {
  position: relative;
  display: block;
  width: 25px;
  height: 1px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  transition: all 0.2s ease-in-out;
  transition: width 0.13s ease-out, transform 0.13s ease-out, opacity 0.13s ease-out;
}
#header .navbar .container .navbar-toggler .hamburger-menu span::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
#header .navbar .container .navbar-toggler .hamburger-menu span::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
#header .navbar-toggler {
  display: none;
}

.aside_bg.on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#aside {
  position: fixed;
  right: -70%;
  top: 0;
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  width: 70%;
  padding: 100px 0 0;
  background-color: #232323;
  z-index: 99;
  transition: right 300ms ease-in-out;
}
#aside.on {
  right: 0;
}
#aside .navbar-nav_m {
  height: 100%;
}
#aside .navbar-nav_m ul > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#aside .navbar-nav_m ul > li:last-child {
  border-bottom: 0;
}
#aside .navbar-nav_m ul > li a {
  padding: 20px 30px;
  position: relative;
}
#aside .navbar-nav_m ul > li a .arrow {
  position: absolute;
  top: 5px;
  right: 13px;
}
#aside .navbar-nav_m ul > li a .arrow:after {
  position: absolute;
  right: 23px;
  top: 23px;
  content: "";
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(135deg);
  transition: transform 0.5s;
}
#aside .navbar-nav_m ul > li.on .arrow:after {
  transform: rotate(-45deg);
  transition: transform 0.5s;
}
#aside .navbar-nav_m ul > li .sub {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(136, 136, 136, 0.1);
}
#aside .navbar-nav_m ul > li .sub > li a {
  font-weight: 400;
}
#aside .navbar-nav_m ul > li .sub > li a::before {
  display: none;
}
#aside .navbar-nav_m ul > li > a {
  font-weight: 800;
  color: #fff;
}
#aside .navbar-nav_m ul > li > a i {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #345623;
  border-radius: 50px;
}

#footer {
  position: relative;
  background: #000;
}
#footer .fo_menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
#footer .fo_menu h2 {
  font-size: 1.25rem;
  display: none;
}
#footer .fo_menu ol {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
#footer .fo_menu ol li {
  width: 18%;
  position: relative;
}
#footer .fo_menu ol li:last-child:after {
  display: none;
}
#footer .fo_menu ol li:after {
  content: "";
  display: block;
  width: 2px;
  height: 15px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
#footer .fo_menu ol li a {
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
}
#footer .inner {
  padding: 70px 0;
}
#footer .inner .flex {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 30px 0;
}
#footer .inner .flex #f_logo img {
  display: block;
}
#footer .inner .flex ul {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 0 12%;
}
#footer .inner .flex ul li {
  color: #fff;
  margin: 0 70px 0 0;
}
#footer .inner .flex ul li:last-child {
  margin: 0;
}
#footer .inner .flex ul li p {
  color: #9D9D9D;
  font-size: 0.875rem;
  margin: 20px 0 0;
}
#footer .copyright {
  color: #9D9D9D;
  font-size: 0.875rem;
}

#topBtn {
  border: 2px solid #000;
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#topBtn.go_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  top: auto;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 300ms ease;
}
#topBtn.go_top.on {
  transform: translateY(0px);
  opacity: 1;
}
#topBtn i {
  display: block;
  width: 2px;
  height: 15px;
  background: #fff;
  position: relative;
}
#topBtn i:after {
  content: "";
  position: absolute;
  top: 0%;
  left: -3px;
  width: 8px;
  height: 8px;
  display: block;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(45deg);
}

@media (max-width: 1920px) {
  .inner {
    width: 80%;
  }
  #header .navbar .container #navbarNav ul > li.nav-item {
    margin: 0 100px 0 0;
  }
  #header .navbar .container #navbarNav .right_box .select_box {
    width: 200px;
  }
}
@media (max-width: 1600px) {
  .nav_f {
    font-size: 1.4rem;
  }
  #header .navbar .container #navbarNav ul > li.nav-item > a {
    padding: 24px 0;
  }
  #header .navbar .container #navbarNav ul > li.nav-item .sub_menu {
    top: 58px;
  }
  #header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a {
    font-size: 1.2rem;
  }
  #header .navbar .container #navbarNav .right_box .select_box {
    width: 150px;
  }
  #header .navbar .container #navbarNav .right_box .select_box a {
    font-size: 0.9rem;
  }
  #footer .fo_menu ol li {
    width: 20%;
  }
  #footer .fo_menu ol li a {
    font-size: 1rem;
  }
}
@media (max-width: 1440px) {
  #header .navbar .container #navbarNav ul > li.nav-item > a {
    padding: 25px 0;
  }
  #footer .address .left {
    width: 40%;
  }
  #footer .address .right {
    width: 60%;
  }
}
@media (max-width: 1280px) {
  body.scrolled #header .navbar #navbarNav ul > li.nav-item > a {
    padding: 16px 0;
  }
  #header {
    height: 80px;
  }
  #header .navbar .container {
    height: 80px;
  }
  #header .navbar .container #navbarNav .right_box .select_box {
    width: 130px;
    padding: 8px 15px;
  }
  #header .navbar .container #navbarNav .right_box .select_box .sub_box {
    padding: 40px 0px 5px;
  }
  #header .navbar .container #navbarNav .right_box .select_box .sub_box li a {
    padding: 8px 17px;
  }
  #header .navbar .container #navbarNav ul li.nav-item {
    margin: 0 70px 0 0;
  }
  #header .navbar .container #navbarNav ul li.nav-item > a {
    padding: 23px 0;
  }
  #header .navbar .container #navbarNav ul li.nav-item .sub_menu {
    top: 55px;
  }
  #header .navbar .container #navbarNav ul li.nav-item .sub_menu li {
    padding: 20px 0;
  }
  #footer .inner {
    padding: 30px 0;
  }
  #footer .inner .flex ul {
    margin: 10px 0 0 10%;
  }
  #footer .inner .flex ul li a {
    margin: 0 20px;
  }
  #footer .inner .b_box {
    padding: 30px 0px;
  }
  #footer .inner .b_box .address span br {
    display: none;
  }
}
@media (max-width: 1200px) {
  #header .navbar .container #navbarNav .right_box .select_box {
    display: none;
  }
}
@media (max-width: 1114px) {
  #header .navbar .container #navbarNav ul li.nav-item {
    margin: 0 40px 0 0;
  }
}
@media (max-width: 1024px) {
  body.scrolled #aside {
    padding: 65px 0 0;
  }
  #aside {
    padding: 80px 0 0;
  }
  #header .navbar .container .navbar-toggler {
    display: block;
  }
  #header .navbar .container #navbarNav .navbar-nav {
    display: none;
  }
  #header .navbar .container #navbarNav .right_box .global {
    margin: 0 10px 0 0;
  }
  #footer .address .left {
    width: 50%;
  }
  #footer .address .right {
    width: 50%;
  }
  #footer .address .right .nav {
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 0 30px 0;
  }
  #footer .address .right .nav > li {
    margin: 0 5% 10px 0;
  }
  #footer .address .right .nav > li .sub {
    display: none;
  }
}
@media (max-width: 991px) {
  #footer .fo_menu ol li {
    width: 25%;
  }
  #footer .inner .flex ul li {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 768px) {
  .nav_f {
    font-size: 1rem;
  }
  .inner {
    width: 85%;
  }
  #aside {
    padding: 65px 0 0;
  }
  #header {
    height: 70px;
  }
  #header .navbar .container {
    height: 70px;
  }
  #footer .fo_menu h2 {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-weight: 400 !important;
  }
  #footer .fo_menu h2.on i:after {
    transform: rotate(45deg);
  }
  #footer .fo_menu h2 i {
    position: relative;
    width: 10px;
    height: 15px;
    display: inline-block;
    margin: 0 0 0 5px;
  }
  #footer .fo_menu h2 i:after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 11;
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    top: 5px;
    transform: rotate(225deg);
    transition: transform 800ms ease-in-out;
  }
  #footer .fo_menu ol {
    flex-direction: column;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    overflow: hidden;
    max-height: 0;
    transition: max-height 900ms ease;
  }
  #footer .fo_menu ol li {
    width: 100%;
    border-bottom: 1px solid rgba(136, 136, 136, 0.8);
    padding: 10px 0;
  }
  #footer .fo_menu ol li:after {
    display: none;
  }
  #footer .fo_menu ol.on {
    display: flex;
    max-height: 200px;
  }
  #footer .inner {
    padding: 20px 0;
  }
  #footer .inner .flex {
    flex-direction: column;
  }
  #footer .inner .flex #f_logo {
    max-width: 200px;
  }
  #footer .inner .flex ul {
    margin: 20px 0 0;
    justify-content: start;
  }
  #footer .inner .flex ul li a {
    margin: 30px 0 0;
  }
  #footer .inner .flex .sns_box ul li a {
    margin: 0 10px 0 0;
  }
  #footer .inner .flex .sns_box ul li a img {
    height: 20px;
  }
  #footer .inner .flex .sns_box ul li:last-child a img {
    height: 18px;
  }
  #footer .inner .b_box {
    display: block;
  }
  #footer .inner .b_box .sns {
    position: absolute;
    top: 60px;
    right: 20px;
  }
  #footer .copyright {
    padding: 10px 0;
  }
}
@media (max-width: 540px) {
  #footer .inner .flex {
    margin: 0 0 10px 0;
  }
  #footer .inner .flex ul {
    flex-wrap: wrap;
  }
  #footer .inner .flex ul li:last-child {
    margin: 20px 0 0;
  }
  #footer .inner .flex ul li p {
    margin: 10px 0 0;
  }
}
@media (max-width: 480px) {
  #aside {
    padding: 50px 0 0;
  }
  #header {
    height: 50px;
  }
  #header .navbar .container {
    height: 50px;
  }
  #header .navbar .container .navbar-toggler {
    width: 35px;
  }
  body.scrolled #header {
    height: 50px;
  }
  body.scrolled #header .navbar .container {
    height: 50px;
  }
}
@media (max-width: 414px) {
  .nav_f {
    font-size: 0.75rem;
  }
  #footer .inner .flex {
    margin: 0 0 10px 0;
  }
  #footer .inner .flex #f_logo {
    max-width: 150px;
  }
  #footer .inner .flex ul {
    flex-direction: column;
    align-items: start;
  }
  #footer .inner .flex ul li {
    margin: 0 0 10px 0;
    display: flex;
    align-items: start;
  }
  #footer .inner .flex ul li:last-child {
    margin: 0;
  }
  #footer .inner .flex ul li p {
    margin: 0 0 0 7px;
  }
}/*# sourceMappingURL=common.css.map */